<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Details</title>
    <link rel="stylesheet" href="members.css">
</head>
<body>
    <header>
        <h1>Abiud Atuhaire</h1>
    </header>
    <div class="details-container">
        <img src="logo.jpeg" alt="Abuid">
        <p><strong>Graduation Year:</strong> 2025</p>
        <p><strong>Current Job:</strong> Software Engineer Spacex</p>
        <p><strong>Location:</strong> Los Angeles</p>
        <p><strong>Contact:</strong> abuidatuhaire@gmail.com</p>
    </div>
    <a href="members.html" class="back-button">Back to Members</a>

</body>
</html>