<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Members</title>
    <link rel="stylesheet" href="members.css">
</head>
<body>
    <header>
        <h1>Alumni Members</h1>
    </header>
    <div class="members-container">
        
        <!--Another member-->
        <a href = "members1.html">
        <div class="member">
            <img src="ofwono.jpeg" alt="Member 1">
            <h2>Godwin Ofwono</h2>
            <p>Machine Learning Engineer | Class of 2025</p>
        </div>
        </a>

        <!--Another member-->

        <a href = "members2.html">
        <div class="member">
            <img src="yoo.jpeg" alt="Member 2">
            <h2>Ainamani Dickson</h2>
            <p>Ai & Data Scientist | Class of 2024</p>
        </div>
        </a>

        <!--Another member-->
        <a href = "members3.html">
        <div class="member">
            <img src="logo.jpeg" alt="Member 3">
            <h2>Abiud Atuhaire</h2>
            <p>Software Engineer | Class of 2023</p>
        </div>
        </a>
        <!-- We can add more members as needed -->
    </div>
</body>
</html>